auto-install-peers=true
legacy-peer-deps=true
node-linker=hoisted

# 使用 storybookjs/builder-vite 插件, 要打开 shamefully-hoist
# 参考: https://github.com/storybookjs/builder-vite#installation}
shamefully-hoist=true

# 忽略直接在 workspace root 下安装的警告
ignore-workspace-root-check=false
